<h1>New Book</h1>
<br>
<%= form_for @book do | f |  %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    Choose a genre:
    <br>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
    <%= f.fields_for :genres, post.genres.build do | genres_fields | %>
        <%= genres_fields.label :name, "Genre" %>
        <%= genres_fields.text_field :name %>
    <% end %>
    <br>
    <%= f.submit %>
<% end %>