<%= @book.title %><br><br>
<%= @book.author %><br><br>
<%= @book.description %><br><br>

<h4>Genre:</h4>
    <%= @book.genres.name %>
<br>
<br>
<h4>Quotes:</h4>
<br>
<ul>
    <% @book.quotes.each do | q | %>
        <li><%= q.content %></li>
    <% end %>
</ul>
<br>
<br>
<%= link_to "Add quote", new_book_quote_path(@book) %>

