<h5>Title:</h5>
<%= @book.title %><br><br>
<h5>Author:</h5>
<%= @book.author %><br><br>
<h5>Descripton:</h5>
<%= @book.description %><br><br>

 <h5>Genre:</h5>
 <% @book.book_genres.each do | bg | %>
    <li><%= bg.genre.name %></li><br>
<% end %>    

<h5>Sub-Genre:</h5>
<% @book.book_genres.each do | bg | %>
    <li><%= bg.sub_genre %></li><br>
<% end %>    
<br>
<h5>Quotes:</h5>
<br>
<ul>
    <% @book.quotes.each do | q | %>
        <li><%= q.content %></li><br><br>
        <%= button_to "Edit Quote", edit_book_quote_path(@book, q), method: "get" %><br>
        <%= button_to "Delete Quote", quote_path(q), method: "delete" %><br>
    <% end %>
</ul>
<br>
<br>
<%= button_to "Add Quote", new_book_quote_path(@book), method: "get" %><br><br>
<%= button_to "Edit Book", edit_book_path(@book), method: "get" %><br><br>
<%= button_to("Delete Book", @book, method: :delete, data:{confirm: "Are you sure?"}) %>
