<div id="main-container">
    <h5><%= @book.title %></h5>
    <br>
    <p><%= @book.author %></p>
    <br>
    <p><%= @book.description %></p>
    <br>

    <p>Genre: <% @book.book_genres.each do | bg | %>
                    <%= bg.genre.name %><br>
              <% end %>    
    </p>
</div>
    <br>
    <h5>Quotes:</h5>
    <br>
    <% @book.quotes.each do | q | %>
        <div class="card">
            <div class="card-body">
                <p class="card-text"><%= q.content %></p>
            </div>
            <a class="badge badge-light" <%= link_to "Delete Quote", quote_path(q), method: "delete" %></a>
            
        </div>
    <% end %>
<br>
<br>
<div class="links">
    <a class="badge badge-light" <%= link_to "Add Quote", new_book_quote_path(@book), method: "get" %></a>
    <a class="badge badge-light" <%= link_to "Edit Book", edit_book_path(@book), method: "get" %></a>
    <a class="badge badge-light" <%= link_to("Delete Book", @book, method: :delete, data:{confirm: "Are you sure?"}) %></a>
    <br />
    <br />
</div>