<% if user_signed_in? %>
    <h1>Hi <%= current_user.username %>! Welcome to Lemondrop</h1>
    <% if current_user && @reading.any? %>
        <h5>Here are your current books:</h5>    
        <ul>
        <% @reading.each do |r| %>
            <li> <%= link_to r.book.title, book_path(r.book) %></li>
        <% end %>
        </ul>
        <%= link_to "See all your Books", books_path %><br><br>
        <%= link_to "See all your Quotes", quotes_path %><br><br>
    <% end %>
    <%= button_to "Create New Book", new_book_path, method: "get" %><br><br>
<% else %>
    <h1>Welcome to Lemondrop</h1><br><br>
    <h4>Please sign in or sign up above</h4>
<% end %>






